@font-face {
  font-family: AlphaLyrae;
  src: url(./AlphaLyrae-Medium.woff);
}

$font-main: "Helvetica neue", "Helvetica", arial, sans-serif;
$font-mono: "Roboto Mono", monospace;
$font-al: AlphaLyrae, "Helvetica neue", "Helvetica", arial,
  sans-serif;
